@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply text-neutral-900 px-5 cursor-pointer hover:text-neutral-500 hover:transition duration-700 ease-[cubic-bezier(.25,1,.25,1)] font-sans;
  }

  button {
    @apply text-white border bg-indigo-600 border-indigo-600
    hover:bg-transparent hover:text-indigo-600 rounded-lg
    hover:transition duration-700 ease-[cubic-bezier(.25,1,.25,1)] font-sans;
  }
}
/* Code for underline animation  */
   .link-underline {
        border-bottom-width: 0;
        background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
        background-size: 0 3px;
        background-position: 0 100%;
        background-repeat: no-repeat;
        transition: background-size .5s ease-in-out;
    }

    .link-underline-black {
        background-image: linear-gradient(transparent, transparent), linear-gradient(#5146EE, #5146EE)
    }

    .link-underline:hover {
        background-size: 100% 3px;
        background-position: 0 100%
    }